.rodapedapagina {
    background-color: #6278F7;
    width: 100%;
    height: 213px;
    
    /* Novo: Flexbox para centralizar conteúdo */
    display: flex;
    flex-direction: row; /* Empilha itens verticalmente */
    justify-content: space-between; /* Centraliza verticalmente */
    align-items: center;     /* Centraliza horizontalmente */
    text-align: center;
}

.rodapedapagina .logos {
    margin-left: 100px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.rodapedapagina h5 {
    color: #FFFFFF;
    margin-right: 30px;
    align-items: center;
}
